# `<PROJECT_ROOT>/.cargo/config.toml` or `~/.cargo/config` or `~/.cargo.config.toml`


# crates.io proxy
[source.crates-io]
replace-with = 'rsproxy-sparse'

[source.rsproxy]
registry = "https://rsproxy.cn/crates.io-index"

[source.rsproxy-sparse]
registry = "sparse+https://rsproxy.cn/index/"

[registries.rsproxy]
index = "https://rsproxy.cn/crates.io-index"

[net]
git-fetch-with-cli = true


# faster linker on linux
## reference: https://bevy.org/learn/quick-start/getting-started/setup/#enable-fast-compiles-optional
[target.'cfg(target_os = "linux")']
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]
